.container {
  background-color: rgb(250, 231, 63);
  width: 900px;
  display: flex;
  margin: auto;
  padding: 40px;
  font-size: larger;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: rgb(36, 4, 198);
}

.inputBox {
  height: 30px;
  border: 6px;
  border-color: rgb(124, 7, 233);
  border-radius: 10px;
  box-shadow: 2px 2px;
  margin-right: 10px;
  cursor: pointer;
  padding-left: 10px;
}

.addButton {
  font-size: 20px;
  height: 33px;
  border-style: none;
  background-color: #0794d0;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}
.addButton:hover {
  background-color: #c66f0b;
}
.tasklist {
  list-style-type: none;
  padding: 0;
}
.taskItem {
  border: 2px solid #0b27de;
  margin: 10px 0;
  padding: 15px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.taskInfo {
  margin-bottom: 10px;
}
.completedStatus {
  color: #4caf50;
}
.incompleteStatus {
  color: #f44336;
}

.editButton {
  font-size: 20px;
  height: 33px;
  border-style: none;
  background-color: #88bc64;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.editButton:hover {
  background-color: #ea2e50;
}
.deleteButton {
  font-size: 20px;
  height: 33px;
  background-color: #d76159;
  color: white;
  border-style: none;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.deleteButton:hover {
  background-color: #1caa09;
}

.addButton {
  background-color: #9d89ed;
  color: white;
}
.editButton {
  background-color: #2196f3;
  color: white;
}

.taskActions {
  display: flex;
  justify-content: center;
}
